<!DOCTYPE html>
<html>
<body>

<div ng-app="" ng-controller="MarketController"> 

<ul>
  <li ng-repeat="x in applications">
    {{ x.name + ', ' + x.description }}
  </li>
</ul>

</div>

<script>
function MarketController($scope,$http) {
  $http.get("http://localhost:8080/applications")
  .success(function(response) {$scope.applications = response;});
}
</script>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>

</body>
</html>
